body {
    background-image: url(https://wallpapers.com/images/featured/grey-5xvepms9fbbi0bmh.jpg);
}

h1 {
    font-size: 4.5em;
    color: white;
    margin-left: 7em;
    text-decoration: underline;
}

h2 {
    font-size: 2em;
    color: white;
    margin-left: 1em;
}

h4 {
    /* font-size: 4.5em; */
    color: white;
    /* font-weight: 400; */
    margin-left: 38.5em;
    text-decoration: underline;
    position: absolute;
    top: 117px;
}


label {
    font-size: 2em;
    color: white;
    margin-left: 1.5em;
}

input {
    margin-left: 2.5em;
    margin-top: 1em;
    width: 23em;
    height: 1em;
    border-radius: 2em;
    border: none;
    padding: 1em;
}

form {
    margin-left: 1em;
    background-color: black;
    width: 25em;
    padding: 2em;
}

button {
    margin-top: 2em;
    margin-left: 10em;
    margin-bottom: 1em;
    width: 9em;
    height: 3em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.2);
}


/* @media only screen and (max-width: 320px){
    form{
        width: 10em;
        height: 10em;
    }
} */