h1{
    font-size: 4.5em;
    color: black;
    margin-left: 7em;
    text-decoration: underline;
}

h2{
    font-size: 2em;
    color: black;
    margin-left: 1em;
}

label{
    font-size: 2em;
    color: white;
    margin-left: 1.5em;
}

input{
    margin-left: 2.5em;
    margin-top: 1em;
    width: 23em;
    height: 1em;
    border-radius: 2em;
    border: none;
    padding: 1em;
}

form{
    margin-left: 1em;
    background-color: black;
    width: 25em;
    padding: 2em;
}

button{
    margin-top: 2em;
    margin-left: 18em;
    width: 9em;
    height: 3em;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    transform: scale(1.2);
}