/* .user-post{
    background-color: black;
    width: 45em;
    margin-left: 21em;
    border-radius: 1em;
}

.user-post h3, p{
    color: white;
}

.user-post h3{
    font-size: 3em;
    margin-left: 1em;
    padding-top: 20px;
}

.user-post p{
    margin-left: 1.5em;
    font-size: 2em;
}

.user-post .del-btn{
    color: aqua;
}

.user-post{
    color: white;
}

input{
    background-color: antiquewhite;
} */



.user-post {
    background-color: black;
    width: 45em;
    margin-left: 21em;
    border-radius: 1em;
}

.user-post h3, p {
    color: white;
}

.user-post h3 {
    font-size: 3em;
    margin-left: 1em;
    padding-top: 20px;
}

.user-post p {
    margin-left: 1.5em;
    font-size: 2em;
}

.user-post .del-btn {
    color: aqua;
}

.user-post input, .user-post button {
    background-color: antiquewhite;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    color: black;
}

.user-post button:hover {
    background-color: #ddd;
    cursor: pointer;
}
